body{
    height: auto;
    width: auto;
    
}


.header{
    text-align: center;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    text-align: center;
    justify-content: center;
    justify-items: right;
    padding: auto;
    margin: auto;
    border: 1px solid;
    width: 30%;
    height: 50px;
    border-radius: 20px;
}

button{
    width: 90px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: hsl(0, 0%, 23%);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: -15px;
    box-shadow: 1px 1px 3px rgb(233, 224, 233);
    
}
button:hover{
    background-color: hsl(0, 1%, 53%);
}
button:active{
    background-color: hsl(0, 6%, 87%);
}
#operation{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 1px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5vh;
}
.operator{
    background-color:hsl(295, 96%, 22%);
}
.operator:hover{
    background-color: hsl(180, 91%, 22%);
}
.operator:active{
    background-color: hsl(189, 100%, 57%);
}
.equal{
    background-color: blue;
}
.equal:hover{
    background-color: hsl(249, 96%, 20%);
}
.equal:active{
    background-color: hsl(249, 100%, 50%);
}
#display{
    width: 95%;
    height: 75px;
    margin-left: 2%;
    border-radius: 10px;
    border: none;
    justify-items: right;
    background-color: hsl(252, 5%, 22%);
    color: white;
    font-size: 1rem;
    margin-top: 6px;
    box-shadow: 0px 0px 7px rgb(233, 224, 233);
}
#calculator{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: fit-content;
    height: 35rem;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    margin: 0% 35%;
    background-color: black;
    box-shadow: 0px 3px 5px 0.3px rgb(182, 28, 182);
}